﻿.addingPanel {
    border: none;
    border-bottom: 2px solid #808080;
    padding:15px;
}

.inputbox {
    border: 2px solid #808080;
    padding:2px;
    margin-left:10px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #00ff90;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
}