﻿.message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    color: #000000;
}

.messagefrom {
    border: 2px solid #dedede;
    border-color: #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-align: right;
    color: #000000;
}

.user{
    font-weight:bold;
    font-size:80%;
}

.time {
    font-size: 80%;
}

.deleteBtn{
    border:none;
    background:red;
    color:white;
}

.msg{
    font-size:150%
}